#dropdownButton
  text-align: center
  margin-top: 20px

#dropdownHeader
  color: gray
  font-size: 40px

.filter
  width: 450px
  margin-top: 10px
  margin-right: 10px

.filterButton
  width: 255px

.allFilter
  display: flex
  flex-flow: row wrap
  justify-content: center

.photoTitle
  font-size: 12px

.inputTagField
  font-size: 8px
  border-top: none
  border-left: none
  border-right: none
  border-bottom-color: black

.addTagButton
  font-size: 8px
  outline: none
  border: none

.cardBodyStyle
  display: flex
  flex-flow: column wrap
  justify-content: space-between

.card
  width: 150px
  margin-top: 10px
  margin-right: 10px

.allPhotos
  display: flex
  flex-flow: row wrap
  justify-content: center

.tagLink
  color: #B34EE9
  font-size: 10px
  font-weight: bold
  
